/* Selectors */
/* a{
    text-decoration: none;
} */

body{
    background-color: white;
    font-family: "Bree Serif","Crete Round","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}



footer{
    background-color: #1b262c;
    color: #868e96;
    padding: 10px 20px;
    text-align: center;
    font-size: 0.8rem;
}


header{
    color: #1a1f25;
}

section{
   padding: 5% 10%;
   text-align: center;
}


/* Nav Section */
.svg-icon-small{
    height: 1em;
    vertical-align: -0.125em;
}

/* Profile Section */
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

  .follow-me{
    text-align: center;
    padding: 10px;
}

.follow-link{
    padding: 8px;
    color: inherit;
}


#job-subtitle{
    color: grey;
    padding-bottom: 2rem;
}

#job-title{
    font-weight: bolder;
    line-height: 2;
}

  #profile-section{
    background-color: #beebe9;
    font-family: 'Bree Serif','Crete Round', serif;
    line-height: 1.5;
}

.profile-decoration{
   text-align: center;
   margin-top: auto;
   margin-bottom: auto;
   padding: 8%;
}

  .rouned-image{
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

  #welcome span{
    color: green;
    
}

/* Portfolio-section */

#portfolio-section{
    background-color: white;
    text-align: center;
}

#portfolio-subtitle{
    margin-bottom: 5%;
}

#portfolio-section img{
   width: 200px;
   height: 200px;
   margin-left: auto ;
   margin-right: auto ;
}

.card{
    margin: 0 0 5% 0;
    padding: 5%;
}

/* Contact Me */
.btn{
    margin-right: 2%;
}

#contact-section{
    background-color: #3d4c55;
    text-align: left;
}

.contact-detail{
    color: rgb(156, 154, 154);
}

#contact-header{
    color: white;
    padding-bottom: 5%;
}
.contact-icons{
    color: rgb(218, 216, 216);
    padding-right: 8px;
}


/* fixed button */
#fixed-button{
    bottom: 2%; 
    right: 2%;
    position: fixed; 
    padding: 8px;
}


/* Testimonial section */

#testimonial-section{
    background-color: #beebe9;
}

#testimonial{
 margin: 5% auto 5% auto;
 max-width: 75%;

}

#testimonial img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators {
    bottom: -50px;
}